# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [2]:
# Load and view first few lines of dataset
import pandas as pd 

df = pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

### Proportion and admission rate for each gender

In [3]:
df['gender'].value_counts()

female    257
male      243
Name: gender, dtype: int64

In [4]:
df.shape[0]

500

In [5]:
# Proportion of students that are female
female_df=df.query('gender == "female"')
len(female_df)/df.shape[0]

0.514

In [6]:
# Proportion of students that are male
male_df=df.query('gender == "male"')
len(male_df)/df.shape[0]

0.486

In [8]:
# Admission rate for females
admitted_females = female_df.query("admitted == True")
admitted_f = len(admitted_females)
applied_f = len(female_df)
admitted_f , applied_f

(74, 257)

In [9]:
#rate 
rate_f = (admitted_f/applied_f)
rate_f

0.28793774319066145

In [10]:
# Admission rate for males
admitted_males = male_df.query("admitted == True")
admitted_m = len(admitted_males)
applied_m = len(male_df)
admitted_m , applied_m

(118, 243)

In [11]:
#rate 
rate_m = (admitted_m/applied_m)
rate_m

0.48559670781893005

### Proportion and admission rate for physics majors of each gender

In [12]:
# What proportion of female students are majoring in physics?
f_physics = female_df.query('major == "Physics"')
print(len(f_physics)/len(female_df))

0.12062256809338522

In [15]:
# What proportion of male students are majoring in physics?
m_physics = male_df.query('major == "Physics"')
print(len(m_physics)/len(male_df))

0.9259259259259259

In [17]:
# Admission rate for female physics majors
fA_physics = f_physics.query('admitted == True')
phf_admitted = len(fA_physics)
phf_applied = len(f_physics)
ph_female_rate = (phf_admitted/phf_applied)
ph_female_rate

0.7419354838709677

In [16]:
# Admission rate for male physics majors
mA_physics = m_physics.query('admitted == True')
phm_admitted = len(mA_physics)
phm_applied = len(m_physics)
ph_male_rate = (phm_admitted/phm_applied)
ph_male_rate

0.5155555555555555

### Proportion and admission rate for chemistry majors of each gender

In [18]:
# What proportion of female students are majoring in chemistry?
f_chemistry = female_df.query('major == "Chemistry"')
print(len(f_chemistry)/len(female_df))

0.8793774319066148

In [19]:
# What proportion of male students are majoring in chemistry?
m_chemistry = male_df.query('major == "Chemistry"')
print(len(m_chemistry)/len(male_df))

0.07407407407407407

In [20]:
# Admission rate for female chemistry majors
fA_chemistry = f_chemistry.query('admitted == True')
chf_admitted = len(fA_chemistry)
chf_applied = len(f_chemistry)
ch_female_rate = (chf_admitted/chf_applied)
ch_female_rate

0.22566371681415928

In [21]:
# Admission rate for male chemistry majors
mA_chemistry = m_chemistry.query('admitted == True')
chm_admitted = len(mA_chemistry)
chm_applied = len(m_chemistry)
ch_male_rate = (chm_admitted/chm_applied)
ch_male_rate

0.1111111111111111

### Admission rate for each major

In [22]:
# Admission rate for physics majors
physics = df.query('major == "Physics"')
ph_admitted_students = len(physics.query('admitted == True'))
ph_applied_students = len(physics)
physics_MAdmission_rate = (ph_admitted_students/ph_applied_students)
physics_MAdmission_rate

0.54296875

In [23]:
# Admission rate for chemistry majors
chemistry = df.query('major == "Chemistry"')
ch_admitted_students = len(chemistry.query('admitted == True'))
ch_applied_students = len(chemistry)
chemistry_MAdmission_rate = (ch_admitted_students/ch_applied_students)
chemistry_MAdmission_rate

0.21721311475409835